/* ================= Footer ================= */
footer {
    display: flex;
    align-items: center;
    height: 7.82vw;
    width: 100%;
    background-color: #34547A;
    margin-top: 5.21vw;
    color: #FFFFFF;
}

.footer-text {
    font-size: 0.9vw;
    margin-left: 20vw;
}